body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cascadia Code', 'Roboto', 'Oxygen',
    'Ubuntu', sans-serif;
  background: linear-gradient(to right, rgb(134, 216, 243), rgb(121, 143, 210));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
